<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='form.css'>
</head>

<body>
  <form action="" method="post" class="basic-grey">
    <h1>Contato
      <span>Por favor preencha todos os campos.</span>
    </h1>

    <label>
      <span>Seu Nome:</span>
      <input id="name" type="text" name="name" placeholder="Seu nome completo" />
    </label>

    <label>
      <span>Seu Email:</span>
      <input id="name" type="text" name="name" placeholder="Seu Email"/>
    </label>

    <label>
      <span>Mensagem:</span>
      <textarea id="message" name="message" placeholder="Insira uma mensagem"></textarea>
    </label>

    <label>
    	<span>Subject :</span><select name="selection">
        <option value="Job Inquiry">Job Inquiry</option>
        <option value="General Question">General Question</option>
        </select>
    </label>

    <label>
      <span>&nbsp;</span>
      <input type="button" class="button" value="Enviar" />
    </label>
  </form>
</body>
</html>