/* Basic Grey */
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

ul#nav {
  margin:20px;
  padding:0;
  list-style:none;
  width:525px;
}
